@import "common/foundation/variables";
@import "variables";

// dark-light-choose -------------------------------
$body-bg-color: dark-light-choose($body-bg-light, $body-bg-dark);
$body-bg-image: dark-light-choose($body-image-light, $body-image-dark);

$header-background: dark-light-choose($header-bg-light, $header-bg-dark);
$header-border: dark-light-choose($header-border-light, $header-border-dark);
$header-primary: dark-light-choose($header-primary-light, $header-primary-dark);

$header-dd-background: dark-light-choose(
        $header-dd-bg-light,
        $header-dd-bg-dark
);
$header-dd-hover-background: dark-light-choose(
        $header-dd-hover-bg-light,
        $header-dd-hover-bg-dark
);

$sidebar-background: dark-light-choose($sidebar-bg-light, $sidebar-bg-dark);
$sidebar-border: dark-light-choose($sidebar-border-light, $sidebar-border-dark);

$box-background: dark-light-choose($box-bg-light, $box-bg-dark);

$notice-text: dark-light-choose($notice-text-light, $notice-text-dark);
$notice-background: dark-light-choose($notice-bg-light, $notice-bg-dark);

$notice-team-background: dark-light-choose(
        $notice-team-bg-light,
        $notice-team-bg-dark
);
$notice-mod-background: dark-light-choose(
        $notice-mod-bg-light,
        $notice-mod-bg-dark
);

$topic-separator-color: dark-light-choose(
        $topic-separator-light,
        $topic-separator-dark
);

$mention-background-color: dark-light-choose(
        $mention-background-light,
        $mention-background-dark
);

// custom vars -------------------------------
:root {
  --body_background-color: #{$body-bg-color};
  --body_background-image: url(#{$body-bg-image});

  --header_background: #{$header-background};
  --header_border: #{$header-border};
  --header_primary: #{$header-primary};

  --header-dd_background: #{$header-dd-background};
  --header-dd_border: #{$header-border};
  --header-dd_hover-background: #{$header-dd-hover-background};

  --sidebar_background: #{$sidebar-background};
  --sidebar_border: #{$sidebar-border};

  --box_background: #{$box-background};

  --notice_text: #{$notice-text};
  --notice_background: #{$notice-background};

  --notice-team_background: #{$notice-team-background};
  --notice-mod_background: #{$notice-mod-background};

  --topic-separator_color: #{$topic-separator-color};

  --mention-background-color: #{$mention-background-color};
}
